<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ausion - Home Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: Reveal - v4.7.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#recent-posts">Magazine</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


      <h1 class="logo scrollto"><a href="#hero">Ausion</a></h1>
      <a href="javascript:;" onclick="showDiv()">
        <div class="chatbot-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path fill="none" d="M0 0h24v24H0z"/><path d="M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176zm.29-2.113l.653.35A7.955 7.955 0 0 0 12 20a8 8 0 1 0-8-8c0 1.334.325 2.618.94 3.766l.349.653-.655 2.947 2.947-.655z" fill="rgba(255,255,255,1)"/></svg>
            Help
        </div>
      </a>
    </div>
  </header><!-- End Header -->

  <div class="chatbot-toggle-bi-x">
    <a href="javascript:;" onclick="hideDiv()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-11.414L9.172 7.757 7.757 9.172 10.586 12l-2.829 2.828 1.415 1.415L12 13.414l2.828 2.829 1.415-1.415L13.414 12l2.829-2.828-1.415-1.415L12 10.586z" fill="rgba(253,136,130,1)"/></svg>
    </a>
  </div>
  <div class="chatbot-content">
    <iframe src="https://web.powerva.microsoft.com/environments/Default-d7b95ec4-9a7f-4260-b2e3-eb53f0ac8401/bots/new_bot_56c6c169eaf94f58a6241e257541048c/webchat" frameborder="0" style="border-radius: 20px; width: 100%; height: 100%;"></iframe>
  </div>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="home col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Get to know the best for your skin</h1>
          <h2>AUSION is a web app that helps you to evaluate your skin problems using selfie photo to analyze and provide the best-recommended skincare for your skin.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start cta-button">
            <button class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#modalForm">Try Now</button>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/img/Group 2.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- Modal -->
    <div class="modal fade" id="modalForm" tabindex="-1">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Please complete the following input</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form method="POST" action="" enctype="multipart/form-data">       
                    <p>Please choose your skin type:</p>
                    <select name="optradio"class="form-select" aria-label="Default select example">
                      <option value="0">Normal</option>
                      <option value="2">Dry</option>
                      <option value="3">Combination</option>
                      <option value="1">Oil</option>
                      <option value="4">Sensitif</option>
                    </select>         

                    <div class="input-group-sm">
                      <label for="alamat">Your age:</label>
                      <input type="text" name="umur" class="form-control" id="alamat" required>
                    </div>

                      <div class="row">
                      <div class="gambar-place col-lg-4">
                        <img src="static\img\scan.jpg" alt="gambar" width="250px" height="250px">
                      </div>
                      <div class="upload-img col-lg-8">
                          <h2>Make sure you follow the guidelines below:</h2>
                          <ul>
                            <li>Remove makeup and glasses</li>
                            <li>Make sure your hair doesn't cover your face</li>
                            <li>Look at the camera and keep a neutral expression</li>
                            <li>Stay in a bright area and have natural light</li>
                          </ul>
                      </div>
                    </div>
                      <input type="file" accept="image/*" class="form-control" id="photo" name="photo">
                      <h3>Note: Your image will not be saved</h3>
                      <button type="submit" class="btn btn-success">Prediction</button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- ======= About Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header-ser">
        <h2>Services</h2>
      </div>

      <div class="services-content row">
        <div class="col-lg-6 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">
          <img src="static/img/img_service.png" class="img-fluid" alt="" width="350px">
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <p>AUSION is a beauty website powered by AI technology (Artificial Intelligence) which can recognize problems on your face, a website can help provide skincare recommendations based on facial problems detected, and it is supported by image data that has more than 2000 data as a reference for the system to make decisions. This website also includes a chatbot feature that allows users to easily obtain general information about the website.</p>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg text-center text-lg-center">
          <h3>What make us different from others?</h3>
          <p> The output of our system offers skincare products from various categories of skincare products, ranging from serum, moisturizer, and toner, to cleanser, so that the solution given can be maximized.</p>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- What to do section -->
  <section id="wtd" class="wtd section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>What to do</h2>
      </div>

      <div class="wtd-content row justify-content-center">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="static/img/wtd.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <p>Go through our try-on web apps. You access it by clicking on the “Try Now” button.</p>
          <p>Input your current skin condition detail.</p>
          <p>Prepare and upload your front side photo. Keep your face without make up and should be in good light.</p>
          <p>Wait and see our recommendation about skin products for you.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Magazine Section ======= -->
  <section id="recent-posts" class="recent-posts section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title section-header-mag">
        <h2>Magazine</h2>
        <p>Magazine here to help you find out about tips and trick for daily</p>
        <p>things or all the articles that you need to knows more.</p>
      </div>

      <div class="posts-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://www.soco.id/cdn-cgi/image/w=371.5,format=auto,dpr=1.25/https://images.soco.id/995-Probiotik-Skin-Care-untuk-Skin-Barrier-7.jpg.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">21 May 2022</span>
                <span class="post-author"> / Levi Larassaty</span>
              </div>
              <h3 class="post-title">Pertolongan Pertama pada Skin Barrier, Yuk, Cobain 5 Skin Care Probiotik Ini!</h3>
              <a href="https://www.soco.id/post/beauty/628855b1673e0c3b078ff5b3/skin-care-probiotik-untuk-skin-barrier/" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://images.soco.id/481-secret-key-aging-gracefully-8.jpg.jpeg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">1 June 2022</span>
                <span class="post-author"> / Magdalena Dian</span>
              </div>
              <h3 class="post-title">Tips Aging Gracefully dengan Kulit Sehat dan Muda ala Wanita Korea</h3>
              <a href="https://journal.sociolla.com/beauty/secret-key-tips-aging-gracefully" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://images.soco.id/193-Laneige-Water-Bank-Blue-Hyaluronic.jpg.jpeg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">10 May 2022</span>
                <span class="post-author"> / Levi Larassaty</span>
              </div>
              <h3 class="post-title">Review: Laneige Water Bank Blue Hyaluronic Serum & Cream, Combo yang Efektif Menghidrasi Kulit Seharian!</h3>
              <a href="https://journal.sociolla.com/editors-review/laneige-water-bank-blue-hyaluronic" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://soc-phoenix.s3-ap-southeast-1.amazonaws.com/wp-content/uploads/2017/06/24185325/Rekomendasi-Buku-Beauty-Journal.jpg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">09 Juni 2022</span>
                <span class="post-author"> / Evelyn Ochi</span>
              </div>
              <h3 class="post-title">Rekomendasi Buku Self Motivation yang Ringan dengan Ilustrasi Menyenangkan, Dijamin Enggak Bosan!</h3>
              <a href="https://journal.sociolla.com/lifestyle/buku-self-motivation-yang-didominasi-ilustrasi" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://images.soco.id/352-rekomendasi-skin-care-murad-untuk-usia-30-tahun-6.jpg.jpeg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">7 Juni 2022</span>
                <span class="post-author"> / Magdalena Dian</span>
              </div>
              <h3 class="post-title">Rekomendasi Skin Care Murad untuk Usia 30 Tahun yang Tawarkan Beragam Manfaat Kecantikan</h3>
              <a href="https://journal.sociolla.com/beauty/rekomendasi-skin-care-murad-untuk-usia-30-tahun" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide outer">
            <div class="posts-item">
              <div class="post-img"><img src="https://images.soco.id/861-Jello-skin.jpg.jpeg" class="img-fluid" alt=""></div>
              <div class="meta">
                <span class="post-date">8 Juni 2022</span>
                <span class="post-author"> / Emanuela Lintang</span>
              </div>
              <h3 class="post-title">Mendadak Viral di Tiktok, Tren Kecantikan Jello Skin Ternyata Menuai Berbagai Pro dan Kontra</h3>
              <a href="https://journal.sociolla.com/beauty/jello-skin-tren-kecantikan-baru-di-tiktok" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End testimonial item -->

         
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="d-flex justify-content-center">
        <a href="https://journal.sociolla.com/">
          <button class="btn-more">See all magazine</button>
        </a>
      </div>
    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
  
      <div class="section-header">
        <h2>Meet our team</h2>
        <p>Developer, researcher, and designer that build up this system to help and assamble your skin concern.</p>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/profil/putri profil.png" alt="">
              <h4>Putri Anugrah Br. Ginting</h4>
              <span>Data Exploration</span>
              <span>Model Development</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/putrianugrahginting/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/putri-anugrah-br-ginting-2a4b39215/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/profil/habib profil.png" alt="">
              <h4>Lalu Habib Satya Wiguna</h4>
              <span>Data Exploration</span>
              <span>Model Evaluation</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/habibsatya/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/lalu-habib-satya-wiguna-729a911bb/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/profil/aryo profil.png" alt="">
              <h4>Gusti Putu Aryo Widano</h4>
              <span>Data Exploration</span>
              <span>Model Research</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/gustiputuaryo_w/"><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/profil/glenn profil.png" alt="">
              <h4>Glenn Budiman</h4>
              <span>Deployment</span>
              <span>Data Collecting</span>
              <span>Modeling</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/glennbudiman_/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/glenn-budiman-4a1623149/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="static/img/profil/bila profil.png" alt="">
              <h4>Nabila Victory Aribowo</h4>
              <span>UI / UX</span>
              <span>Data Collecting</span>
              <span>Modeling</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/billatorya/"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/nabilavictory/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
      </div>
  
    </div>
  </section><!-- End Team Section -->
  
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      <br>
      Image and Magazine by <a href="https://www.sociolla.com/">Sociolla</a>
    </div>
  </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>